/*nav*/
.lt_nav {
    width: 100%;
    padding: 0 4px;
    border-bottom: 1px solid #ddd;
}

.lt_nav a {
    width: 33.333%;
    float: left;
    display: block;
}

.lt_nav a img {
    width: 100%;
}

/*商品*/
.lt_product {
    width: 100%;
    padding: 0 10px;
}

.lt_product .lt_product_item {
    width: 48%;
    float: left;
    margin-top: 10px;
}

.lt_product .lt_product_item:nth-child(2n) {
    margin-left: 4%;
}

.lt_product .lt_product_item .product_item_box{
    display: block;
    min-height: 200px;
    box-shadow: 0 0 3px #ddd;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.lt_product .lt_product_item .product_item_box img{
    width: 100%;
    display: block;
}

.lt_product .lt_product_item .product_item_box p:first-of-type{
    padding: 0px 10px;
}

.lt_product .lt_product_item .product_item_box p:last-of-type{
    text-align: center;
}

.lt_product .lt_product_item .product_item_box .oldPrice{
    font-size: 14px;
    color: red;
}

.lt_product .lt_product_item .product_item_box .newPrice{
    font-size: 14px;
    text-decoration: line-through;
    color: #ccc;
}

.lt_product .lt_product_item .product_item_box button{
    background: #006699;
    color: #fff;
}


